.choresText {
   color: orangered;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 12pt;
   font-style: italic;
}

.choresHeading {
   color: red;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 24pt;
   text-decoration: underline;
}